.article-editor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    margin-top: 64px;
}
.article-editor-wrapper {
    width: 70vw;
    margin: 0 auto;
    border: 1px solid #979696;
    padding: 32px;
}
.article-editor-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}
input {
    padding: 8px;
    border: 1px solid #979696;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
}
.article-editor-input-image {
    margin: 16px 0;
    width: 80%;
    flex-grow: 1;
}
.article-editor-inputs select {
    padding: 8px;
    border: 1px solid #979696;
    border-radius: 8px;
    width: 260px;
    font-size: 18px;
}
.add_img-in_article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.add_img-in_article button {
    width: 300px;
    padding: 8px;
}
.quill {
    width: 100%;
    margin: 0 auto;
} 
.ql-editor {
    min-height: 500px;
}

.article_preview {
    padding: 32px;
    margin-top: 32px; 
    border: 1px solid #979696;
    width: 70vw;
}
.article-buttons button + button {
    margin-left: 16px;
}
.delete {
    background-color: #D0021B;
}
.edit {
    background-color: #4BBD5C;
}
